

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
  background: #fff;
  color: #444;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #1bc554;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #0ad54d;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/* Back to top button */

.back-to-top {
  position: fixed;
  display: none;
  background: #1bc554;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: #fff;
}

/* Prelaoder */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #1bc554;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/

#topbar {
  padding: 0 0 10px 0;
  font-size: 14px;
  transition: all 0.5s;
}

#topbar .social-links {
  text-align: right;
}

#topbar .social-links a {
  color: #535074;
  padding: 4px 12px;
  display: inline-block;
  line-height: 1px;
}

#topbar .social-links a:hover {
  color: #1bc554;
}

#topbar .social-links a:first-child {
  border-left: 0;
}


#header .social-links a{
  background-color: #1bc554;
  color: #fff;
  border-radius: 50em;
  width: 25px;
  display: inline-block;
  text-align: center;
  margin: 3px;
}
/*--------------------------------------------------------------
# Search Bar
--------------------------------------------------------------*/
#searchicn{
  color: #413e66;
  padding: 12px 15px;
}
#searchicn:hover{
  color: #1bc554;
}

.searchbox{
  margin-top: 0.5em !important;
  background: white;
  padding: 1em !important;
  border-radius: 1em;
  right: 0;
  position: absolute;
  width: 300px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
}
.searchboxmob{
  margin: 10px 20px !important;
  background: white;
  padding: 1em !important;
  border-radius: 1em;
  position: absolute;
  width: 85%;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
}
.search-field{
  width: 80%;
  margin-left: 5% !important;
  border-right: none;
  border-top: none;
  border-left: none;
  border-bottom: 1px solid #a1a1a1;

}
#searchbtn{
  float: right;
  color: #413e66;
}
#searchbtn:hover{
  color: #1bc554;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
  height: 70px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 15px 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}

#header.header-scrolled,
#header.header-pages {
  height: 70px;
  padding: 15px 0;
  background-color: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
}

#header.header-scrolled #topbar,
#header.header-pages #topbar {
  display: none;
}

#header .logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #413e66;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  /* margin: 7px 0; */
  /* max-height: 26px; */
  margin: 0;
  max-height: 3.8em;
  margin-top: -10px;
}

.main-pages {
  margin-top: 60px;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  margin-top: 0;
  width: 100%;
  height: 100vh;
  max-height: 800px;
  position: relative;
  background: url("../sources/hero3d.png") center bottom no-repeat;
  background-size: cover;
  padding: 0 0 60px 0;
}

#hero .icon-play{
  width: 90px;
  height: 90px;
  margin-right: 2em;
  cursor: pointer;
}
#hero .icon-play:hover{
  filter: opacity(0.5) drop-shadow(0 0 0 #00844a) saturate(1000%);
}

.modal-dialog {
  max-width: 800px;
  margin: 30px auto;
}

.modal-body {
  position:relative;
  padding:0px;
}

.close {
  position:absolute;
  right:1em;
  top:1em;
  z-index:999;
  font-size:2rem;
  color:#fff;
  opacity:1;
}
.close:hover{
  color: #1bc554 !important;
}


#hero .hero-info h2 {
  color: #2b2b2b;
  font-size: 4.2em;
  font-weight: 800;
  font-family: 'Poppins', sans-serif;
}

#hero .hero-info p {
  margin-bottom: 3em;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

#hero .video-bg {
  height: 100vh;
  left: 400px;
  object-fit: contain;
  position: absolute;
  top: 0px;
  width: 100%

}

#hero .hero-info .btn-get-started{
  background: #FFDE6C;
  max-width: 250px;
  min-width: 150px;
  padding: 1em 1.5em;
  transition: 0.5s;
  color: #fff;
  font-size: 1.2em;
  text-align: center;
  border-radius: 0.3em;
  text-transform: capitalize;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-top: 1em;
  border: 1px solid transparent;
}


#hero .hero-info .btn-get-started:hover{
  background: #fff;
  transition: 0.5s;
  border: 1px solid #048b32;
  color: #048b32;
}


#hero .hero-content h2 {
  color: #413e66;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}


#hero .box {
  padding: 10px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  text-align: center;
}

#hero .box:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#hero .boxprd {
  padding: 1px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 10px 25px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  text-align: center;
}

#hero .prodpd {
  padding: 5px;
}

#hero .boxprd:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/

#intro {
  margin-top: 70px;
  width: 100%;
  /* height: 100vh; */
  position: relative;
  /* background: #f5f8fd url("../img/waki-therapy-malaysia.jpg") center top no-repeat; */
  /* background-size: cover; */
  padding: 0 0 60px 0;
}

/* #intro .intro-info h2 {
  color: #413e66;
  margin-bottom: 40px;
  font-size: 48px;
  font-weight: 700;
}
#intro .intro-info h2 span {
  color: #1bb1dc;
} */

#intro .intro-info .btn-get-started,
#intro .intro-info .btn-services {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #1bb1dc;
  color: #fff;
}

#intro .intro-info .btn-get-started:hover,
#intro .intro-info .btn-services:hover {
  background: #0a98c0;
}

#intro .intro-content h2 {
  color: #413e66;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}


#intro .box {
  padding: 10px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  text-align: center;
}

#intro .box:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#intro .boxprd {
  padding: 1px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 10px 25px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  text-align: center;
}

#intro .prodpd {
  padding: 5px;
}

#intro .boxprd:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.prodcat-title {
  font-size: 14px;
  font-weight: bold;
  color: #413e66;
  text-transform: uppercase;
  position: relative;
}
ul.product-categories{
  list-style: none;
  padding-left: 0;
}
.product_categoriesmenu ul li {
  position: relative;
  padding: 0 0 10px 20px;
  font-size: 12px;
}
.product_categoriesmenu ul li::after {
  color: #000;
  content: "\f105";
  font-family: fontawesome;
  left: 0;
  position: absolute;
  top: 0;
}
p.titleprodcat{
 font-size: 12px;
 font-weight: 500;
 margin: 10px 2px;
}
.buttonprd{
  margin-bottom: 1em;
}
.buttonprd .button {
  background: #76df99;
  border-radius: 100px;
  padding: 5px 7px;
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  margin: 0;
  overflow: hidden;
  transition: all 0.1s ease-in-out;
}
.buttonprd .button:hover {
  background: #1bc554;
}

.buttonprd .button:active {
  background: #1bc554;
}



@media(min-width: 769px) {
  .responsive-iframe-media {
    width:100%;
    height:175px;
  }
}
@media(min-width: 992px) {
  .responsive-iframe-media {
    width:100%;
    height:254.98px;
  }
}
@media(min-width: 1200px) {
  .responsive-iframe-media {
    width:315px;
    height:315px;
  }
}
/*broken size*/
@media(max-width: 768px) {
  .responsive-iframe-media {
    width:100%;
    height:465px;
  }
}
@media(max-width: 575px) {
  .responsive-iframe-media {
    width:100%;
    height:495px;
  }
}

/*broken size*/


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/* Desktop Navigation */

.main-nav {
  /* Drop Down */
  /* Deep Drop Down */
}

.main-nav,
.main-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.main-nav a {
  display: block;
  position: relative;
  color: #2b2b2b;
  padding: 10px;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  letter-spacing: normal;
}

.main-nav a:hover,
.main-nav .active > a,
.main-nav li:hover > a {
  color: #1bc554;
  text-decoration: none;
}

.main-nav .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% - 5px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.main-nav .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.main-nav .drop-down li {
  min-width: 180px;
  position: relative;
  word-wrap: break-word;
  white-space: normal;
}

.main-nav .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #0f7431;
}

.main-nav .drop-down ul a:hover,
.main-nav .drop-down ul .active > a,
.main-nav .drop-down ul li:hover > a {
  color: #1bc554;
}

.main-nav .drop-down > a:after {
  content: "\f107";
  font-family: FontAwesome;
  padding-left: 10px;
}

.main-nav .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.main-nav .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  max-height:300px;
  overflow:auto;
}

.main-nav .drop-down .drop-down > a {
  padding-right: 35px;
}

.main-nav .drop-down .drop-down > a:after {
  content: "\f105";
  position: absolute;
  right: 15px;
}

/* Mobile Navigation */

.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  left: -260px;
  width: 260px;
  padding-top: 18px;
  background: rgba(40, 38, 70, 0.8);
  transition: 0.4s;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #fff;
  padding: 10px 20px;
  font-weight: 500;
}

.mobile-nav a:hover,
.mobile-nav .active > a,
.mobile-nav li:hover > a {
  color: #1bc554;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\f078";
  font-family: FontAwesome;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\f077";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  margin: 18px 18px 0 0;
  color: #048b32;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(40, 38, 70, 0.8);
  overflow: hidden;
  display: none;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

/* Sections Header
--------------------------------*/
.section-header h2 {
  color: #2b2b2b;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 2.2em;
}

.section-header h3 {
  font-size: 36px;
  color: #413e66;
  text-align: center;
  font-weight: 700;
  position: relative;
  font-family: "Montserrat", sans-serif;
}

.section-header h4{
  margin-bottom: 3em;
  font-weight: 500;
  font-size: 1.2em;
  font-family: 'Poppins', sans-serif;
}

.section-header p {
  text-align: center;
  margin: auto;
  font-size: 15px;
  padding-bottom: 60px;
  color: #535074;
  width: 50%;
}

/* Section with background
--------------------------------*/

.section-bg {
  background: #f1faf2;
}

/* About Us Section
--------------------------------*/
/*
#about {
  padding: 40px 0;
} */

#about .about-content {
  padding-top: 40px;
}

.about-content {
  padding:1em;
}

#about h2 {
  color: #2b2b2b;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 2.2em;
}

.about-content h3 {
  color: #2b2b2b;
  font-weight: 800;
  font-size: 1.5em;
  /* font-style: italic; */
}

#about .about-content ul {
  list-style: none;
  padding: 0;
}

#about .about-content ul li {
  padding-bottom: 10px;
}

#about .about-content ul li i {
  font-size: 20px;
  padding-right: 4px;
  color: #1bb1dc;
}

#about .about-img {
  position: relative;
  /* margin: 30px; */
  margin-bottom: 1em;
  border-radius: 0.5em;
  overflow: hidden;
}

.about-img img {
  width: 100%;
  /* border: 8px solid #fff; */
  transition: .5s;
}

#about .about-img img:hover {
  width: 100%;
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}

#about .about-img::before {
  position: absolute;
  left: -31px;
  top: -30px;
  width: 90%;
  height: 92%;
  z-index: -1;
  content: '';
  /* background-color: #ebf1fa; */
  transition: .5s;
}

#about .about-img::after {
  position: absolute;
  right: -31px;
  bottom: -30px;
  width: 90%;
  height: 92%;
  z-index: -1;
  content: '';
  /* background-color: #ebf1fa; */
  transition: .5s;
}

#about .row-eq-height{
    flex: 1;
}

#about .box {
    padding: 10px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    transition: all 0.3s ease-in-out;
    text-align: center;
    min-height: 100%;
}

#about .icon {
    margin: 30px auto 15px auto;
    padding-top: 12px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

#about .WAKI{
    color: #00844a;
    font-size: 36px;
    line-height: 1;
    font-weight: bolder;
    -webkit-text-stroke: 1px black;
}

/* Produk
--------------------------------*/
#product{
  padding: 40px 0;
}

/* #product .card-container{
  display: flex;
  flex-flow: row wrap;
}


#product .card{
  flex: 0 0 33.333%;
  display: flex;
}

#product .product-img {
  flex-grow: 1;
  object-fit:contain;
}
 */
/* #product .card-body{
  flex-grow:0;
} */

.product-service{
  margin: 2em 0;
}

#product .card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#product h2 {
  color: #2b2b2b;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 2.2em;
  text-align: center;
}

#product .category {
  font-size: 0.8em;
  color: #eea805;
  font-weight: 600;
  background:#faf8f2;
  padding: 0.5em 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  display: inline-block;
  margin-bottom: 1em;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  width: 12em;
  text-align: center;
}

#product p{
  padding: 0;
  margin: 0 0 20px 0;
  font-family: "Poppins", sans-serif;
  font-size: 1em
  color: #5e5e5e;
  font-weight: 500;
}

#product  .owl-stage {
  display: flex;
 }
 #product .owl-item {
  display: flex;
  flex: 1 0 auto;
 }

 #product .card-body{
	padding-bottom: 0;
  min-height: 15vw;
 }

 #product .card-footer {
   padding-top: 0;
  border-top: 0;
  }

#product .btn-link{
  background: #fff;
  transition: 0.5s;
  color: #048b32;
  font-size: 0.8em;
  letter-spacing: 0.05rem;
  padding: 0.5em 3em;
  border-radius: 2rem;
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin-top: 1em;
  border: 1px solid #048b32;
  text-align: center;
  display: inline-block;
}

#product .btn-link span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#product .btn-link span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#product .btn-link:hover span {
  padding-right: 25px;
}

#product .btn-link:hover span:after {
  opacity: 1;
  right: 0;
}

#product .cstm-shadow {
  box-shadow:  20px 20px 60px #bebebe,
  -20px -20px 60px #ffffff;
}




/* Why Us Section
--------------------------------*/

#why-us {
  padding: 40px 0;
}

#why-us .section-header h2 {
  color: #048B32;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 2.2em;
  text-align: center;
}

#why-us .why-us-content .features {
  margin: 0 0 15px 0;
  padding: 0;
  transition: 0.3s ease-in-out;
}

#why-us .why-us-content .features i {
  font-size: 36px;
  float: left;
}

#why-us .why-us-content .features h4 {
  font-size: 24px;
  font-weight: 600;
  margin-left: 56px;
  color: #413e66;
  margin-bottom: 5px;
}

#why-us .why-us-content .features p {
  font-size: 16px;
  margin-left: 56px;
  color: #555186;
}


#why-us .about-img {
  position: relative;
  margin: 30px 30px 30px 30px;
}

#why-us .about-img img {
  width: 100%;
  border: 8px solid #fff;
  transition: .5s;
}

#why-us .about-img img:hover {
  width: 100%;
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}

#why-us .about-img::before {
  position: absolute;
  left: -31px;
  top: -30px;
  width: 90%;
  height: 92%;
  z-index: -1;
  content: '';
  background-color: #ebf1fa;
  transition: .5s;
}

#why-us .about-img::after {
  position: absolute;
  right: -31px;
  bottom: -30px;
  width: 90%;
  height: 92%;
  z-index: -1;
  content: '';
  background-color: #ebf1fa;
  transition: .5s;
}


#why-us .counters {
  padding-top: 40px;
}

#why-us .counters span {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 48px;
  display: block;
  color: #555186;
}

#why-us .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #8a87b6;
}

/* Testimonials Section
--------------------------------*/

.testimonial {
  background-color: white;
  text-align: center;
  padding: 20px 10px 40px;
  margin: 0 5px 10px;
  position: relative;
}

.testimonial .icon {
  display: inline-block;
  font-size: 80px;
  color: #016d9b;
  margin-bottom: 20px;
  opacity: 0.6;
}
.testimonial .titledesc{
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
  margin-top: 5px;
  font-size: 1.2em;
}

.testimonial .description {
  font-size: 1em;
  color: #2b2b2b;
  text-align: center;
  min-height: 200px;
  margin-bottom: 30px;
  border-radius: 0.4em;
  padding: 1em 2em;
  box-shadow: 0px 0px 20px rgba(127, 137, 161, 0.1);
  font-family: "Open Sans", sans-serif;
}

.testimonial .testimonial-content {
  width: 100%;
  left: 0;
  position: absolute;
  color: #2b2b2b;
}

.testimonial .pic {
  display: inline-block;
  border-radius: 50em;
  overflow: hidden;
  z-index: 1;
  position: relative;
}

.testimonial .pic img {
  width: 100px;
  height: auto;
}

.testimonial .name {
  font-size: 15px;
  font-weight: bold;
  color: #2d2d2d;
  text-transform: capitalize;
  margin: 10px 0 5px 0;
}

.testimonial .title {
  display: block;
  font-size: 14px;
  color: #ffd9b8;
}

.owl-controls {
  margin-top: 20px;
}

.owl-pagination {
  display: flex;
  justify-content: center;
}

.owl-page {
  height: 10px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10%;
}

.owl-page:hover,
.owl-page.active {
  background-color: rgba(255, 255, 255, 0.3);
}

.owl-page:not(first-item) {
  margin-left: 10px;
}

.owl-carousel {
-ms-touch-action: none;
touch-action: none;
}

#testimonials {
  padding: 60px 0;
}

#testimonials .section-header {
  margin-bottom: 40px;
}

#testimonials .testimonial-item {
  width: 100%;
  text-align: center;
  padding-right: 0;
}

@media (max-width: 767px) {
  #testimonials .testimonial-item {
    text-align: center;
  }
}

#testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin-bottom: 15px;
}

#testimonials .testimonial-item h5 {
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 15px;
}

#testimonials .testimonial-item p {
  font-style: italic;
  margin-bottom: 15px;
}

/* @media (min-width: 992px) {
  #testimonials .testimonial-item p {
    width: 80%;
  }
}
 */
@media (max-width: 767px) {
  #testimonials .testimonial-item h3, #testimonials .testimonial-item h4, #testimonials .testimonial-item p {
    margin-left: 0;
  }
}

#testimonials .owl-nav, #testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

#testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

#testimonials .owl-dot.active {
  background-color: #048b32;
}

/* Business Section
--------------------------------*/
#business {
  padding: 40px 0;
}

#business .business h2 {
  color: #048B32;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.7em;
}

#business p{
  padding: 0;
  margin: 0 0 20px 0;
  font-family: "Poppins", sans-serif;
  font-size: 0.75em;
  color: #5e5e5e;
}

#business .btn-link {
    background: #fff;
    transition: 0.5s;
    color: #048b32;
    font-size: 0.9em;
    letter-spacing: 0.05rem;
    padding: 0.5em 3em;
    border-radius: 2rem;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-top: 1em;
    border: 1px solid #048b32;
    text-align: center;
    display: inline-block;
}

#business .business .card-business{
  border: 0;
  margin-bottom: 10px;
}

/* card group aka PRIMARY */
.card-group .card-business:hover {
  box-shadow: 0px 0px 20px rgba(127, 137, 161, 0.1);
  z-index: 100;
}
.card-group .card-business:hover .card-title{
  color: #4e4e4e;
}
.card-group .card-business .card-img-top{
  width: 100%;
  object-fit: cover;
  padding: 15px 15px;
  align-items: center;
}

.card-group .card-business .card-img-top img:hover {
  opacity: 1;
}

.card-group .card-business .card-title {
  color: #261c6a;
  font-size: 1em;
  line-height: 1.54;
  font-weight: 600;
  margin-bottom: 24px;
}

.card-group .card-business .link-business{
  font-size: 0.9em;
  color: #048B32;
  margin-bottom: 1em;
}


/*
=====
DEPENDENCIES
=====
*/

.r-link{
	display: var(--rLinkDisplay, inline-flex) !important;
}

.r-link[href]{
	color: var(--rLinkColor) !important;
	text-decoration: var(--rLinkTextDecoration, none) !important;
}

.text-underlined{
    --uiTextUnderlinedLineHeight: var(--textUnderlinedLineHeight, 2px); /* 1 */
    --uiTextUnderlinedLineGap: var(--textUnderlinedLineGap, .5rem);
    --uiTextUnderlinedPaddingBottom: calc(var(--uiTextUnderlinedLineHeight) + var(--uiTextUnderlinedLineGap));

    padding-bottom: var(--uiTextUnderlinedPaddingBottom) !important;
    position: var(--textUnderlinedPosition, relative) !important;
		z-index: var(--textUnderlinedZindex, 1) !important;
}

.text-underlined::after{
    content: "";
    width: var(--textUnderlinedLineWidht, 100%) !important;
    height: var(--uiTextUnderlinedLineHeight) !important;
		background-image: var(--textUnderlinedBackgroundImage, linear-gradient(to top, var(--textUnderlinedLineColor, currentColor) 30%, rgba(0, 0, 0, 0) 45%)) !important;

    position: absolute;
    left: var(--textUnderlinedLineLeft, 0) !important;
    bottom: var(--textUnderlinedLineBottom, 0) !important;
		z-index: var(--textUnderlinedLineZindex, -1) !important;
}

/*
=====
CORE
=====
*/

.link{
	--textUnderlinedLineHeight: 100%;
	--textUnderlinedLineGap: 0;
	--textUnderlinedLineColor: #fed330;

	padding-left: .75rem;
	padding-right: .75rem;
}

.link::after{
	will-change: width;
	transition: width .1s ease-out;
	transform: rotate(-2deg);
	transform-origin: left bottom;
}

.link:hover{
	--textUnderlinedLineWidht: 0;
}

.link:hover::after{
	transition-duration: .15s;
}

.link{
	font-weight: 600;
  font-size: 0.9em;
	text-transform: capitalize;
}

.link:focus{
	outline: 2px solid #fed330;
	outline-offset: .5rem;
}

/* Portfolio Section
--------------------------------*/

#portfolio {
  padding: 40px 0;
}
.grid-container img{
  object-fit: cover;
  width:100%;
  height: 100%;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0.5em 0.5em;
  grid-template-areas:
    "long-left wide-right wide-right"
    "long-left center long-right"
    "big-left big-left long-right"
    "big-left big-left normal-bottom";
}
.long-left {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ".";
  grid-area: long-left;
}
.wide-right {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ".";
  grid-area: wide-right;
}
.long-right {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ".";
  grid-area: long-right;
}
.normal-bottom {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ".";
  grid-area: normal-bottom;
}
.big-left {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ".";
  grid-area: big-left;
}
.center {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ".";
  grid-area: center;
}

#portfolio #portfolio-flters {
  padding: 0;
  margin: 5px 0 35px 0;
  list-style: none;
  text-align: center;
}

#portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #248d32;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  border: 1px solid #248d32;
}

#portfolio #portfolio-flters li:hover,
#portfolio #portfolio-flters li.filter-active {
  color: #fff;
  background-color: #248d32;
}

#portfolio #portfolio-flters li:first-child {
  border-radius:2em 0 0 2em;
  margin-right: -5px;
}
#portfolio #portfolio-flters li:last-child {
  border-radius:0 2em 2em 0;
  margin-right: 0;
}

#portfolio .portfolio-item {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

#portfolio .portfolio-item .portfolio-wrap {
  overflow: hidden;
  position: relative;
  margin: 0;
}

#portfolio .portfolio-item .portfolio-wrap:hover img {
  opacity: 0.4;
  transition: 0.3s;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  opacity: 0;
  transition: 0.2s linear;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info h4 {
  font-size: 22px;
  line-height: 1px;
  font-weight: 700;
  margin-bottom: 14px;
  padding-bottom: 0;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info h4 a {
  color: #fff;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info h4 a:hover {
  color: #1bb1dc;
}

.portfolio-video-title{
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info p {
  padding: 0;
  margin: 0;
  color: #f8fcff;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details {
  display: inline-block;
  line-height: 1;
  text-align: center;
  width: 36px;
  height: 36px;
  background: #1bb1dc;
  border-radius: 50%;
  margin: 10px 4px 0 4px;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview i,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details i {
  padding-top: 6px;
  font-size: 22px;
  color: #fff;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview:hover,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details:hover {
  background: #42c3e8;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview:hover i,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details:hover i {
  color: #fff;
}

#portfolio .portfolio-item .portfolio-wrap:hover {
  background: #282646;
}
#portfolio .portfolio-item .portfolio-wrap2:hover {
  background: none;
}


#portfolio .portfolio-item .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

/* Team Section
--------------------------------*/

#team {
  padding: 40px 0;
}

#team .member {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

#team .member .member-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.2s;
  padding: 15px 0;
  background: rgba(29, 28, 41, 0.6);
}

#team .member .member-info-content {
  transition: margin 0.2s;
  height: 40px;
  transition: height 0.4s;
}

#team .member:hover .member-info {
  transition: 0.4s;
}

/* #team .member:hover .member-info-content {
  height: 80px;
} */

#team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  color: #fff;
}

#team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
  color: #fff;
}

#team .member .social {
  margin-top: 15px;
}

#team .member .social a {
  transition: none;
  color: #fff;
}

#team .member .social a:hover {
  color: #1bb1dc;
}

#team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

/* Clients Section
--------------------------------*/

#clients {
  padding: 0.8em 0;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);

}

#clients img {
  max-width: 100%;
  opacity: 0.9;
  transition: 0.3s;
  padding: 15px 0;
}

#clients img:hover {
  opacity: 1;
}

#clients .owl-nav,
#clients .owl-dots {
  margin-top: 5px;
  text-align: center;
}

#clients .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

#clients .owl-dot.active {
  background-color: #1bb1dc;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
  padding: 0 0 30px 0;
  font-size: 14px;
  background: #fff;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #f1faf2;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 34px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  color: #413e66;
  font-weight: 400;
  word-break: break-word;
}

#footer .footer-top .footer-info p {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  color: #535074;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #048b32;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #048b32;
  color: #fff;
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #413e66;
  text-transform: uppercase;
  position: relative;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul li {
  padding: 8px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #696592;
}

#footer .footer-top .footer-links ul a:hover {
  color: #048b32;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .footerpad {
  padding-left: 5%;
}
@media (max-width: 576px) {
  #footer .footerpad {
    margin-left: 0;
  }
}


#footer .footer-top .form .form-group {
  margin-bottom: 15px;
}

#footer .footer-top .form #sendmessage {
  color: #fff;
  background: #048b32;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#footer .footer-top .form #errormessage {
  color: #fff;
  display: none;
  background: red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#footer .footer-top .form #sendmessage.show,
#footer .footer-top .form #errormessage.show,
#footer .footer-top .form .show {
  display: block;
}

#footer .footer-top .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#footer .footer-top .form label {
  color: #413e66;
  font-weight: 500;
}

#footer .footer-top .form input,
#footer .footer-top .form textarea {
  border-radius: 0;
  box-shadow: none;
  border: 1px solid #dce1ec;
  font-size: 14px;
}

#footer .footer-top .form input::-webkit-input-placeholder,
#footer .footer-top .form textarea::-webkit-input-placeholder {
  color: #a2a0bd;
}

#footer .footer-top .form input::-moz-placeholder,
#footer .footer-top .form textarea::-moz-placeholder {
  color: #a2a0bd;
}

#footer .footer-top .form input:-ms-input-placeholder,
#footer .footer-top .form textarea:-ms-input-placeholder {
  color: #a2a0bd;
}

#footer .footer-top .form input::placeholder,
#footer .footer-top .form textarea::placeholder {
  color: #a2a0bd;
}

#footer .footer-top .form button[type="submit"] {
  background: #048b32;
  border: 0;
  border-radius: 3px;
  padding: 8px 30px;
  color: #fff;
  transition: 0.3s;
}

#footer .footer-top .form button[type="submit"]:hover {
  background: #048b32;
  cursor: pointer;
}


#footer .copyright {
  text-align: center;
  padding-top: 30px;
  color: #535074;
  font-size: 15px;
}

#footer .credits {
  text-align: center;
  font-size: 14px;
  padding-top: 4px;
  color: #8582a8;
}

#footer .credits a {
  color: #048b32;
}

#footer .credits a:hover {
  color: #048b32;
}

/*------------------------------------
# Modal Video
--------------------------------------*/
.videoModal .modal-header{
  border: none !important;
}

.videoModal .modal-content{
  border: none !important;
  background-color: transparent !important;
}

/*--------------------------------------------------------------
# Responsive Media Queries
--------------------------------------------------------------*/

@media (min-width: 991px) {

  .searchicon{
    display: inherit;
  }
  .main-nav a.searchtxtmob{
    display: none;
  }

  #call-to-action .cta-btn-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}

@media (min-width: 992px) {
  #intro .intro-info {
    padding-top: 80px;
  }

  #testimonials .testimonial-item p {
    width: 80%;
  }
}

@media (max-width: 991px) {

  .searchicon{
    display: none;
  }
  .searchtxtmob{
    display: block;
  }

  #topbar {
    display: none;
  }

  #header {
    height: 70px;
    padding: 15px 0;
  }

  #header .logo h1 {
    font-size: 28px;
    padding: 8px 0;
  }

  #why-us .why-us-content {
    padding-top: 30px;
  }

  #pricing {
    padding-bottom: 30px;
  }

  #pricing .card {
    margin-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
  #hero .icon-play{
    display: none;
  }

  #faq #faq-list a {
    font-size: 18px;
  }

  #faq #faq-list i {
    top: 13px;
  }
}

@media (max-width: 767px) {
  #intro {
    height: auto;
    padding: 80px 0 60px 0;
  }

  #intro .container {
    height: auto !important;
  }

  #intro .intro-img {
    width: 80%;
  }

  #intro .intro-info {
    text-align: center;
    padding-top: 40px;
  }

  #intro .intro-info h2 {
    font-size: 34px;
    margin-bottom: 30px;
  }

  .section-header p {
    width: 100%;
  }

  #testimonials .testimonial-item {
    text-align: center;
  }

  #testimonials .testimonial-item .testimonial-img {
    float: none;
    margin: auto;
  }

  #testimonials .testimonial-item h3,
  #testimonials .testimonial-item h4,
  #testimonials .testimonial-item p {
    margin-left: 0;
  }
}

@media (max-width: 574px) {
  #footer .footer-top .social-links a {
    margin-bottom: 25px;
  }
}

/*-- mobile --*/
@media (min-width: 768px){
  #desktop {
      display: block;
  }
  #mobile {
      display: none;
  }
}


@media (max-width: 768px){
  #desktop {
      display: none;
  }
  #mobile {
      display: block;
  }
  #hero .btn-mobile {
    display: inline-block;
    background: transparent;
    transition: 0.5s;
    border: 1px solid #048b32;
    color: #048b32;
    font-size: 0.9em;
    letter-spacing: 0.05rem;
    padding: 0.5em 1.5em;
    border-radius: 2rem;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-top: 1em;
  }
  #hero .hero-info h2 {
    font-size: 2.5em;
  }

  #hero .hero-info p {
    margin-bottom: 3em;
    font-weight: 500;
    font-size: 0.9em;
    font-family: 'Poppins', sans-serif;
  }

  #hero .hero-info .btn-get-started{
    transition: 0.5s;
    font-size: 1em;
  }

  #about .section-header h2 {
    font-size: 2em;
  }
  #about .about-content {
    padding-top: 1em;
  }

  #product .section-header h2 {
    font-size: 2em;
  }
  #portfolio .section-header h2 {
    font-size: 2em;
  }

  #business .section-header h2 {
    font-size: 2em;
  }

  #testimonials .section-header h2 {
    font-size: 2em;
  }

  #testimonials .section-header h4 {
    font-size: 18px;
  }

  #testimonials h5 {
    font-size: 0.9em;
  }
}
